@import "~materialize-css/dist/css/materialize.min.css";

button, a{
    text-decoration: none;
    cursor: pointer;
}

.dflex-sb {
    display: flex;
    justify-content: space-between;
}

.container-card {
    max-width: 560px;
    margin: 0 auto;
}

input.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input + label {
    color: #fff !important;
}

input.yellow-input:focus + label {
    color: #fff !important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.txt-al-center {
    text-align: center;
}

.active .collapsible-body {
    display: flex;
    align-items: center;
}

.dflex-center {
    display: flex;
    justify-content: center;
}

.pad-top-2rem {
    padding-top: 2rem;
}

.pd-l-10 {
    padding-left: 10px;
}

.helpers {
    color: #e7a1a8;
    letter-spacing: 6px;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
}