@import "~materialize-css/dist/css/materialize.min.css";

button, a{
    text-decoration: none;
    cursor: pointer;
}

.dflex-sb {
    display: flex;
    justify-content: space-between;
}

.container-card {
    max-width: 700px;
    margin: 0 auto;
}

input.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input + label {
    color: #fff !important;
}

input.yellow-input:focus + label {
    color: #fff !important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.txt-al-center {
    text-align: center;
}

.active .collapsible-body {
    display: flex;
    align-items: center;
}

.dflex-center {
    display: flex;
    justify-content: center;
}

.pad-top-2rem {
    padding-top: 2rem;
}

.pd-l-10 {
    padding-left: 10px;
}

.mg-bottom {
    margin-bottom: 1rem;
}
.mg-right {
    margin-right: 1rem;
}

.mg-top {
    margin-top: 1rem;
}

.helpers {
    color: #e7a1a8;
    letter-spacing: 6px;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
}

.dflex-sb .wrap {
    flex-wrap: wrap;
}

select{
    display: block;
    height: auto !important;
}

.gap{
    gap: 1rem;
}

.error-input-name{
    padding-left: 3px;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.shadow{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .4);
    z-index: 1;
}

.show-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 1rem;
    height: auto;
    background-color: #fff;
}

.pos-rel {
    position: relative;
}

.brand-logo{
    cursor: default !important;
}

.container-about{
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.container-about > .title{
    font-size: 30px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.container-about > .text{
    font-size: 17px;
}

.container-about > .text-formula{
    font-size: 17px;
    padding-left: 8px;
}

.about-links{
    color: rgb(55, 149, 216);
}

.about-links:hover{
    color: rgb(39, 118, 175);
}

.formula{
    background-color: rgb(223, 221, 221);
    padding: 2px;
}